# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection String
# Replace <password> and <dbname> with your actual Atlas details
MONGO_URI=mongodb+srv://username:<password>@cluster0.mongodb.net/camstyle_db?retryWrites=true&w=majority

# JWT Security
# Use a long, random string for the secret
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=1d
# Cloudinary Configuration
# You get these from your Cloudinary Dashboard
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Telegram Bot Configuration
# Telergram alert 
TELEGRAM_BOT_TOKEN=FatherBot_Token_here
TELEGRAM_CHAT_ID=Chat_ID_here

# Email Service Configuration (for password reset)
EMAIL_USER=your-app-email@gmail.com
EMAIL_PASS=abcd efgh ijkl mnop

# Local Bank / Payment (Conceptual)
# Bakong Production Credentials
BAKONG_INDIVIDUAL_ID=devit@abaa
BAKONG_ACCOUNT_NAME="Devit Huotkeo"
BAKONG_API_TOKEN=your_production_jwt_here
BAKONG_API_URL=https://api-bakong.nbc.gov.kh/v1/check_transaction_by_md5